.landing{
    
}

.landing__hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
}

.landing__hero img{
    width: 100%;
}

.landing__header{
    padding: 2rem 4rem;
}

.landing__header h1{
    font-size: 2.8rem;
    margin-top: 4rem;
    font-weight: 900;
    margin-bottom: 3rem;
}

.landing__header input{
    width: 70%;
    font-size: 1.3rem;
    padding: .4rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.landing__searchBar{
    display: flex;
}

.landing__btn{
    display: flex;
    padding: .65rem;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: #3d17c9;
    color: white;
    cursor: pointer;
    align-self: center;
    margin-left: -1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.landing__icon-group{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 2rem 8rem;
}

.landing__icon-box{
    background-color: white;
    padding: 2rem;
    width: 11rem;
    text-align: center;
}

.landing__icon-box i{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.landing__icon-box p{
    font-size: 1.6rem;
}

.landing__auth{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    padding: 2rem 8rem;
    margin: 4rem 0;
}

.landing__auth-text{
    padding: 5rem 3rem;
}

.landing__auth-text p{
    font-size: 3rem;
}

.landing__auth img{
    width: 100%;
}

.landing__auth-btn{
    display: inline-block;
    padding: .65rem 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    background-color: #3d17c9;
    color: white;
    cursor: pointer;
    align-self: center;
}

.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 2rem 3rem;
    background-color: #f8f5f8;
}

.footer img{
    width: 10rem;
    cursor: pointer;
}

.footer__links p{
    cursor: pointer;
    margin-bottom: .8rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #5a5353;
}

.footer__links p:first-child{
    color: black;
}

.footer__copyright{
    font-size: 1.2rem;
}

@media(max-width: 900px){
    .landing__hero{
        grid-template-columns: 1fr;
        padding: 2rem 1rem;
    }

    .landing__header{
        padding: 0 4rem;
        margin-bottom: 3rem;
    }

    .landing__header h1{
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .landing__header input{
        width: 100%;
    }

    .landing__icon-group{
        flex-direction: column;
        align-items: center;
    }

    .landing__icon-box{
        padding: 3rem;
        width: 15rem;
        margin: 1rem 0;
    }

    .landing__auth{
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        padding: 2rem 4rem;
        margin: 2.5rem 0;
    }

    .landing__auth-text{
        padding: 1rem 0rem;
    }

    .landing__auth-btn{
        margin-top: .5rem;
        font-size: 1.3rem;
    }
    
}