.landing{
    padding: 2rem;
}

.landing__hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.landing__hero img{
    width: 100%;
}

.landing__header{
    padding: 2rem 4rem;
}

.landing__header h1{
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.landing__header input{
    width: 70%;
    font-size: 1.4rem;
    padding: .25rem;
}

.landing__searchBar{
    display: flex;
}

.landing__btn{
    display: flex;
    padding: .45rem;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: #3d17c9;
    color: white;
    cursor: pointer;
    align-self: center;
}